{% extends 'base.html' %}
{% load static %}

{% block title %}| Register{% endblock  %}
{% block content %}

<!-- Begin your project here-->

    
    <div class="container">
        
    
        <div class="align-content-center">
        
            <!-- form register -->
            <form class="landing form col-md-10 border border-light p-5" action="{% url 'register' %}" method="POST">{% csrf_token %}

                <div class="jumbotron row text-center">
                    <img src="/static/img/logo.jpg" class="img-circle"  width="100" height="100">
                    <p  class="h4 text-white text-center">Administrator Portal   |   REGISTER</p>
                </div>
                
                <!-- username -->
                <div class="form-group">
                    <label for="examiner_name">Fullname</label>
                    <input type="text" class="form-control" id="username" name="examiner_name">
                </div>

                <!-- code -->
                <div class="form-group">
                    <label for="examiner_code">Lecturer Code</label>
                    <input type="text" class="form-control" id="examiner_code" name="examiner_code">
                </div>

                <!-- password -->
                <label for="password">Password</label>
                <input type="password" class="form-control mb-4" id="password" name="password" placeholder="Password">

                <!-- Password -->
                <label for="password2">Retype Password</label>
                <input type="password" class="form-control mb-4" id="password2" name="password2" placeholder="Retype Password">

                

                <!-- Register button -->
                <button class="btn btn-info btn-block mb-4" type="submit">Register</button>

                <!-- SignIN -->
                <p>Registered already?
                    <a href="{% url 'login' %}">Sign In</a>
                </p>

            </form>
            <!-- form register -->
        </div>

    
    </div>
  <!-- End your project here-->



{% endblock  %}

