{% extends 'base.html' %}
{% load static %}

{% block title %}| Students{% endblock  %}
{% block content %}

<!-- Begin your project here-->

    

    <!--Main Navigation-->
    <header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar">
        <a class="navbar-brand" href="#"><img src="/static/img/logo.jpg" class="img-circle"  width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard' %}">Air Force War College <span class="sr-only">(current)</span></a>
            </li>
            
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            

            <li class="nav-item">
            <a a href="#" class="nav-link">Welcome, Admin</a>
            </li>
            <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
            </li>
        </ul>
        </div>
    </nav>

    </header>
    <!--Main Navigation-->

    
    <section id="breadcrumb">
        <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
        </div>
    </section>
    
    <section id= "main">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="list-group">
                        <a href="{% url 'dashboard' %}" class="list-group-item ">Dashboard</a>
                        <a href="{% url 'create_exam' %}" class="list-group-item ">Create Exam</a>
                        <a href="{% url 'enroll' %}" class="list-group-item ">Enroll</a>
                        <a href="{% url 'enrolled' %}" class="list-group-item active">View Students</a>
                        <a href="{% url 'submitted' %}" class="list-group-item "> Responses</a>
                    </div>
                    
                </div>
                <div class="col-md-9">

                {% if students %}
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Student Code</th>
                            <th scope="col">Student Rank</th>
                            <th scope="col">Student Level</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                            <th scope="row">{{student.student_code}}</th>
                            <td>{{student.student_name}}</td>
                            <td>{{student.student_code}}</td>
                            <td>{{student.student_rank}}</td>
                            <td>{{student.student_level}}</td>
                            </tr>
                            <!--<tr>
                            <th scope="row">2</th>
                            <td>Shalom Akos</td>
                            <td>AF/02</td>
                            <td>Sergent</td>
                            <td>400</td>
                            </tr>-->
                        {% endfor %}
                            
                        </tbody>
                    </table>
                {% else %}
                    <p>No Available Student</p><br>
                    <p><a href="{% url 'enroll' %}">Click Here</a> to add!</p>
                {% endif %}
                </div>
            </div>
        </div>
    </section>

  <!-- End your project here-->    

{% endblock  %}

